/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(@/assets/Montserrat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@keyframes slowMove {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(10%, 0%);
  }
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: calc(5 * var(--unit));
  font-family: Montserrat, sans-serif;
}

a.button {
  text-decoration: none;
}

h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: Montserrat, sans-serif;
  color: var(--base-color-fg);
  border: 0;
}

.button:active {
  filter: brightness(1.2);
}

.button:focus {
  border: 0;
  outline: 0;
}

input[type="checkbox"] {
  width: 2vw;
  height: 2vw;
}

input[type="radio"] {
  width: 1.4vw;
  height: 1.4vw;
}

input[type="number"] {
  font-size: 2vw;
  text-align: right;
}

label {
  font-size: 2vw;
}
