/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/static/Montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes slowMove {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(10%, 0%);
    }
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
}

#allBackground {
    position: absolute;
    width: 120%;
    margin-left: -20%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    opacity: 0.2;
    overflow: hidden;
}

#allBackground * {
    overflow: hidden;
}

#allBackground .strip {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    animation: slowMove 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#allBackground .led {
    height: 2.5vh;
    width: 1.5vw;
    background-color: var(--base-color-bg);
    box-shadow: 0 0 10px 5px var(--base-color-bg);
    transition: all 1s;
}

:root {
    --base-color-bg: #777777;
    --base-color-fg: #ffffff;
}

img.img {
    pointer-events: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 4vw;
    font-family: Montserrat, sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    transition: 1s all;
    position: absolute;
    z-index: -1;
}

.scene {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    justify-content: space-between;
    color: var(--base-color-fg);
}

.scene.active {
    display: flex !important;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--base-color-fg);
}

#welcome .button {
    font-size: 6vw;
    padding: 2vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#welcome .button.mini {
    font-size: 2vw;
    margin-top: 1vh;
    padding: 1vw;
    margin-bottom: 2vh;
}

#welcome .button:disabled {
    filter: brightness(0.4);
}

#welcome .orbital {
    font-size: 4vw;
    margin-bottom: 2vw;
}

#play .button {
    background-color: var(--base-color-bg);
    color: var(--base-color-fg);
    justify-content: center;
    align-items: center;
    font-size: 20vw;
    flex-grow: 1;
    height: 100%;
    border: 0;
    max-width: 32%;
    max-height: 98%;
    fill: white;
}

#play .button:active {
    filter: contrast(0.5);
}

#wait, #getReady, #won, #lost, #gameInProgress, #how, #spectate {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#how {
    line-height: 140%;
}

.button {
    background-color: var(--base-color-bg);
    font-family: Montserrat, sans-serif;
    display: flex;
    color: var(--base-color-fg);
    justify-content: center;
    align-items: center;
    border: 0;
}

.button.retry {
    padding: 10px;
    font-size: 2vw;
}

.button:active {
    filter: brightness(1.2);
}

.button:focus {
    border: 0;
    outline: 0;
}

.button img {
    max-width: 80%;
}

.fire {
    font-size: 25vw;
}

.left {
}

.right {
}

.credits {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    opacity: 0.3;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
}

.credits a {
    color: inherit;
}

#spectateResult {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-strip {
}

.s-led {
    position: absolute;
    padding-top: 100px;
    height: calc(40% - 40px);
    width: 1px;
    overflow-x: visible;
    transform-origin: top;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.s-led .light {
    height: 20px;
    width: 100%;
    min-width: 20px;
    background-color: black;
}

#spectate .background {
    background-color: #444444;
}

canvas.spectateCanvas {
    height: 100%;
}
